{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" color-mode="user">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="keywords" content="blog, links, community, social" />
        <meta name="description" content="Bhread is an online community of blogs." />
        <script>
            // Functions for controlling theme
            function theme(t) {
              switch (t) {
                case "dark":
                  localStorage.theme = "dark";
                  break;
                case "light":
                  localStorage.theme = "light";
                  break;
                case "system":
                  localStorage.removeItem("theme");
                  break;
                default:
                  localStorage.theme = "system";
              }
              // On page load or when changing themes, best to add inline in `head` to avoid FOUC
              if (
                localStorage.theme === "dark" ||
                (!("theme" in localStorage) &&
                  window.matchMedia("(prefers-color-scheme: dark)").matches)
              ) {
                document.documentElement.classList.add("dark");
              } else {
                document.documentElement.classList.remove("dark");
              }
            }
            theme(localStorage.theme || "system");
        </script>
        <link rel="shortcut icon" href="{% static 'feed/logo.svg' %}" />
        {% tailwind_css %}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap"
              rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Ubuntu&display=swap"
              rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
              rel="stylesheet" />
        <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
        <script defer src="https://unpkg.com/htmx.org@1.9.4"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Bhread: Blog Threads</title>
        {% endif %}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/stackoverflow-light.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <!-- and it's easy to individually load additional languages -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/go.min.js"></script>
        <script>hljs.highlightAll();</script>
        <div id="no-indicator"></div>
        <script src="https://unpkg.com/htmx.org/dist/ext/preload.js"></script>
    </head>
    <body class="subpixel-antialiased bg-white dark:bg-slate-900 dark:text-neutral-200"
          hx-ext="preload"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-boost="true"
          hx-indicator="#bar">
        <div id="bar" class="htmx-indicator">{% loading-bar %}</div>
        {% if debug %}
            <script>
        if (typeof window.htmx !== "undefined") {
            htmx.on("htmx:afterSettle", function(detail) {
                if (
                    typeof window.djdt !== "undefined"
                    && detail.target instanceof HTMLBodyElement
                ) {
                    djdt.show_toolbar();
                }
            });
        }
            </script>
        {% endif %}
        <div class="flex justify-center">
            {% nav-left user=user url_name=url_name %}
            {# <main class="flex flex-col justify-center min-h-screen lg:max-w-3xl border-x border-gallery px-2 sm:px-4 sm:max-w-2xl shrink"> #}
            <main class="flex flex-col justify-center min-h-[calc(100vh-65px)] pb-[65px] md:pb-4 md:min-h-screen  border-x border-gallery shrink w-full lg:max-w-3xl sm:max-w-2xl">
                {% if messages %}
                    {% for message in messages %}
                        <div class="p-2 rounded-md {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} bg-red-300 {% else %} bg-orange-200 dark:bg-slate-700 {% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock content %}
                {% nav-bottom url_name=url_name %}
            </main>
            {% nav-right %}
        </div>
    </body>
</html>
