{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" color-mode="user">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="keywords" content="blog, links, community, social" />
        <meta name="description" content="Bhread is an online community of blogs." />
        <link rel="shortcut icon" href="{% static 'feed/logo.svg' %}" />
        {% tailwind_css %}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap"
              rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Ubuntu&display=swap"
              rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
              rel="stylesheet" />
        <script defer src="https://unpkg.com/htmx.org@1.9.4"></script>
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Bhread: Blog Threads</title>
        {% endif %}
    </head>
    <body class="subpixel-antialiased bg-white dark:bg-slate-900 dark:text-neutral-200"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% if debug %}
            <script>
        if (typeof window.htmx !== "undefined") {
            htmx.on("htmx:afterSettle", function(detail) {
                if (
                    typeof window.djdt !== "undefined"
                    && detail.target instanceof HTMLBodyElement
                ) {
                    djdt.show_toolbar();
                }
            });
        }
            </script>
        {% endif %}
        <div class="flex justify-center items-center">
            <main class="flex flex-row justify-center w-full lg:max-w-7xl">
                {% #nav-left user=user url_name=url_name %}
                <span>Hello {{ name|title }}!</span>
                {% /nav-left %} {% comment %}
        <img width="25px" id="page-load-spinner" class="htmx-indicator-remove dark:invert" src="{% static 'spinning-circles.svg' %}" />
                {% endcomment %}
                <div class="m w-full min-h-screen lg:max-w-5xl">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="p-2 bg-orange-200 rounded-md dark:bg-slate-700">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% block content %}
                    {% endblock content %}
                </div>
                {% #nav-right heading="I am the heading" %}
                <span>Hello {{ name|title }}!</span>
                {% /nav-right %}
            </main>
        </div>
    </body>
</html>
