{% extends base_template %}
{% load static %}

{% block more_body_attributes %}
  onload="resize()"
{% endblock more_body_attributes %}

{% block base-content %}
{% if replies %}
<div class="flex flex-col size-full text-white px-6 pt-6 pb-4">
  <div class="border-b border-slate-300">
    {{ post.reply_count|default:0 }} comment{{ post.reply_count|default:0 | pluralize }} on this post
  </div>
  {% for reply in replies %}
    {% if not forloop.first %}
        {% post-reply post=reply.post level=reply.level|add:"-1" voted=reply.is_voted  %}
    {% endif %}
  {% empty %}
  No comments to show
  {% endfor %}
  <div class="border-t border-slate-300 mt-4 pt-2">
    Comments by
    <img class="w-6 h-auto inline mx-1" src="{% static "feed/logo.svg" %}" alt="logo of bhread.com" />
    <a href="https://bhread.com">Bhread.com</a>
  </div>
</div>
<script>
  const root = document.getElementsByTagName('html')[0];
  root.setAttribute('class','dark')

  function resize() {
    var height = document.getElementsByTagName("html")[0].scrollHeight;
    window.parent.postMessage(["setHeight", height], "*");
  }

</script>
{% else %}
<style>
  html {
    display: none;
  }
</style>
{% endif %}
{% endblock base-content %}
