{% extends base_template %}
{% block content %}
    <div class="w-full">
        {% if post.parent %}
            <a href="{% url 'detail' post.parent.url %}">Parent post</a>
        {% endif %}
        {% if parent.parent.content %}
            lkasjfd
        {% else %}
            {% #post-contentless url=parent.url %} {% /post-contentless %}
            ancestor
        {% endif %}
        <h3>{{ parent_replies }} Repl{{ parent_replies | pluralize:"y,ies" }}</h3>
    </div>
{% endblock content %}
