{% extends base_template %}
{% block content %}
    <div class="px-2 min-h-screen">
        {% all-feeds %}
        <h2 class="font-header text-black dark:text-white text-lg mt-6 mb-5 font-medium">Feed Submission</h2>
        <p>Ready to participate? Paste your feed below and press the button:</p>
        <form class="my-6 w-full" action="{% url 'feeds' %}" method="post">
            {% csrf_token %}
            {% for field in feed_form %}
                <input class="w-4/6 mr-4"
                       id="id_url"
                       name="{{ field.name }}"
                       type="url"
                       maxlength="200"
                       required=""
                       placeholder="Paste feed url here" />
            {% endfor %}
            <button class="bg-lochmara text-white font-header font-medium px-6 hover:bg-gull"
                    name="feed_submit"
                    type="submit">Submit</button>
        </form>
        <!-- <h3 class="font-header font-medium my-10">Step 2: Verify ownership of blog by saying hello.</h3> -->
        <h3 class="font-header font-medium my-4">Things you may want to know:</h3>
        <ul class="list-disc list-inside mb-14">
            <li>If your feed is valid, bhread will politely* scan your feed every 2 minutes for new posts.</li>
            <li>It may take bhread some time to show your posts</li>
            <li>Bhread can only show posts in your feed and future posts. If your feed doesn't contain every post you have, we can't show those posts.</li>
        </ul>
        <p>*We respect your cache headers (Last modified, and Etag)</p>
        {% if user.is_authenticated %}
          {% if not user_feeds %}
              <h4 class="font-header font-medium text-red-400 my-4">No feeds found. Have you submitted one?</h4>
          {% endif %}
        {% endif %}
        <h2 class="mt-8 mb-2 text-lg font-header mx-auto">Bhread's feeds</h2>
        <table class="table-auto border-collapse w-full">
            <thead class="border-b-2 dark:border-blue-900">
                <tr>
                    <th class="text-left">Feed URL</th>
                    <th class="text-left">Verification Post</th>
                    <th class="text-left">Status</th>
                    <th class="text-left">Last Scanned</th>
                </tr>
            </thead>
            <tbody>
                {% for feed in feeds %}
                    {% with feed.is_verified as verified %}
                        <tr class="border-b dark:border-blue-950 {% if verified %}bg-green-200 dark:bg-green-900{% endif %} ">
                            <td>{{ feed.url }}</td>
                            {% if feed.verification %}
                                <td>{{ feed.verification.url }}</td>
                            {% else %}
                                <td>None</td>
                            {% endif %}
                            {% if verified %}
                                <td>Successful</td>
                            {% else %}
                                <td>Unverified</td>
                            {% endif %}
                            <td>{{ feed.last_scan | timesince }}</td>
                    {% endwith %}
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
