{% extends base_template %}
{% block content %}
    <div>
        <h2 class="font-header text-black text-lg mt-6 mb-5 font-medium">Feed Submission</h2>
        <p>Ready to participate? Here are the (2) steps to verify on bhread.com</p>
        <h3 class="font-header font-medium my-10">Step 1: Submit your blog's RSS/Atom Feed URL.</h3>
        <form class="my-6 w-full" action="{% url 'feeds' %}" method="post">
            {% csrf_token %}
            {% for field in feed_form %}
                <input class="w-4/6 mr-4"
                       id="id_url"
                       name="{{ field.name }}"
                       type="url"
                       maxlength="200"
                       required=""
                       placeholder="Paste feed url here" />
            {% endfor %}
            <button class="bg-lochmara text-white font-header font-medium px-6 hover:bg-gull"
                    type="submit">Submit</button>
        </form>
        <h3 class="font-header font-medium my-10">Step 2: Verify ownership of blog by saying hello.</h3>
        <p>Publish a post in your blog containing the url:</p>
        <pre class="my-4">https://bhread.com/user/elpachongco/verification</pre>
        <p>(as a link or plain text)</p>
        <p class="my-4">Example:</p>
        <pre class="my-4">
    Hello World! I'm joining bhread.com!
    &lt;a href="https://bhread.com/user/elpachongco/verification"&gt;
        Verification link
    &lt;/a&gt;
</pre>
        <h2 class="my-4 font-medium font-header border border-green-400 bg-green-50 p-2 rounded-md text-green-600">
            That's it!
        </h2>
        <ul class="list-disc list-inside mb-14">
            <li>It may take bhread some time to verify. Please wait a few minutes or proceed to step 3 if verification fails.</li>
            <li>If the verification post was published before the submission of feed, you may proceed to step 3.</li>
            <li>You may track the status of the submitted feeds in the table below.</li>
        </ul>
        <h3 class="font-header font-medium my-4">Step 3 (Optional):</h3>
        <p>This step may be skipped.</p>
        <div class="mt-2">
            <p>You may use this feature if:</p>
            <ul class="list-disc list-inside">
                <li class="mb-2">bhread fails to find the verification post.</li>
                <li class="mb-2">the verification post was published before the submission of a feed.</li>
                <li class="mb-2">You want to explicitly set the verification post.</li>
            </ul>
        </div>
        <p>Paste the link of the post containing the verification url to the input below and submit.</p>
        <form class="my-6 w-full" action="{% url 'feed-verify' %}" method="post">
            {% csrf_token %}
            {{ verification_form }}
            <input class="w-4/6 mr-4"
                   type="url"
                   placeholder="Verification post url here" />
            <button class="bg-lochmara text-white font-header font-medium px-6">Submit</button>
        </form>
        <table class="table-auto border-collapse my-4 w-full my-8">
            <thead class="border-b-2">
                <tr>
                    <th class="text-left">Feed URL</th>
                    <th class="text-left">Verification Post</th>
                    <th class="text-left">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for feed in user_feeds %}
                    <tr class="border-b">
                        <td>{{ feed.url }}</td>
                        {% if feed.verification %}
                            <td>{{ feed.verification.url }}</td>
                        {% else %}
                            <td>Unavailable</td>
                        {% endif %}
                        {% if feed.is_verified %}
                            <td>Successful</td>
                        {% else %}
                            <td>Unverified</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
