{% extends base_template %}
{% block content %}
    {% load static %}
    <div id="no-indicator"></div>
    <div class="mt-2 min-h-screen">
        <ol id="posts" class="list-none">
            {% for post in posts %}
            <li>
                <!-- Only render posts that belong to feed. -->
                {% if post.feed %}
                    <!-- If user has voted the post -->
                    {% if post.id in voted_posts %}
                        {% #post post=post csrf_token=csrf_token voted=True show_date=True %}
                        {% post-content content=post.content truncate=True trunc_html=350 %}
                        {% /post %}
                    {% else %}
                        {% #post post=post csrf_token=csrf_token voted=False show_date=True %}
                        {% post-content content=post.content truncate=True trunc_html=350 %}
                        {% /post %}
                    {% endif %}
                    {% if forloop.last %}
                        {% if js %}
                            <div hx-get="{% url 'hx-home' post.id %}"
                                 hx-trigger="intersect once"
                                 hx-swap="outerHTML"
                                 hx-indicator="#dummy">
                                <div id="dummy">{% post-dummy %}</div>
                            </div>
                        {% endif %}
                      <noscript>
                          <a href="{% url 'homenext' post.id %}">
                              <div class="w-full flex justify-center items-center">Next page</div>
                          </a>
                      </noscript>
                    {% endif %}

                {% endif %}
            {% empty %}
                <h2>No posts found</h2>
            </li>
            {% endfor %}
        </ol>
    </div>
{% endblock content %}
