{% extends base_template %}
{% block content %}
    {% load static %}
    <div class="mt-2 min-h-screen">
        <ol class="list-none">
            {% for post, replies, favicon in posts %}
                <li>
                    <article>
                        {% #post post=post user=user replies=replies %}
                        Hello!
                        {% /post %}
                    </article>
                </li>
                {% comment %}
            <a class="flex items-center hover:no-underline" href="{% url 'detail' post.id %}" hx-boost="true" hx-indicator="#page-load-spinner" hx-swap="innerHTML">
            </a>
                {% endcomment %}
            {% empty %}
                <h2>No posts found</h2>
                <p>
                    If your feed is configured, you may add a post by publishing a blog post
                    starting with: 'replying to [link here]'
                </p>
            {% endfor %}
        </ol>
    </div>
{% endblock content %}
