{% load static %}
{% for post in posts %}
    {% #post post=post %}
    {% post-content content=post.content truncate=True trunc_html=350 %}
    {% /post %}
    {% if forloop.last %}
        <div hx-get="{% url 'hx-home' post.id %}"
             hx-trigger="intersect once"
             hx-swap="outerHTML"
             hx-indicator="#dummy">
            <div id="dummy">{% post-dummy %}</div>
        </div>
    {% endif %}
{% empty %}
    <li class="text-center justify-center">This is the end of the feed.</li>
{% endfor %}
