{% extends 'feed/site-content.html' %}
{% load static %}

  {% block container-classes %}
    {{ block.super }}
  {% endblock %}

{% block content %}
  <h2 class="mx-auto text-lg font-header font-medium mt-2">Bhread Museum</h2>
  <p class="mx-auto mb-4">Collection of bhread's important things</p>
  <ul class="flex flex-col gap-8">
    <li>
      <img src="https://blog.bhread.com/images/about-bhread-meme.png">
      <p>From bhread blog Oct 2023:
      <a href="https://blog.bhread.com/posts/about-bhread/">about bhread</a>
      </p>
    </li>
  </ul>
{% endblock %}

{% block museum-classes %}
  {{ block.super }}
  before:content-['>']
  after:content-['<']
{% endblock %}
