{% load static %}
<div class="hidden sticky top-0 bottom-0 left-0 justify-end pl-4 max-w-xs h-screen lg:flex xl:pr-4 xl:pr-8 grow text-gull"
     hx-boost="true">
    <div class="flex flex-col justify-between h-screen">
        <!-- Search -->
        <div class="hidden items-center mt-2 max-w-full rounded-md border lg:flex focus-within:text-black focus-within:ring border-alto ring-lochmara dark:focus-within:text-white dark:border-slate-700">
            <span class="ml-2 material-symbols-outlined size-20">search</span>
            <form action="{% url 'search' 'laskjdf' %}">
                <input class="w-full rounded-r-md border-none focus:ring-0 dark:bg-slate-900"
                       placeholder="search">
                </input>
            </form>
        </div>
    <!-- END Search -->
    <!-- Footer -->
      <div class="bottom-0 mt-auto">
          <div class="flex justify-between w-40">
              <div id="theming"
                   class="flex items-center dark:color-white"
                   x-data="{ mode: localStorage.theme || 'system', modes: ['system', 'dark', 'light'], toggleMode() { this.mode=this.modes[(this.modes.indexOf(this.mode) + 1) % this.modes.length] } }"
                   @click="toggleMode();theme(mode)">
                  <button class="p-0 hover:bg-transparent">
                      <div class="flex items-center" x-transition>
                          <div>
                              {% with "dark_mode light_mode computer" as icon_names %}
                                  {% for icon_name in icon_names.split %}
                                      {% cycle 'dark' 'light' 'system' as mode silent %}
                                      <span x-cloak
                                            class="dark:text-white material-symbols-outlined"
                                            x-show="mode=='{{ mode }}'">{{ icon_name }}</span>
                                  {% endfor %}
                              {% endwith %}
                          </div>
                      </div>
                  </button>
              </div>
              <span class="material-symbols-outlined">notifications</span>
              <span class="material-symbols-outlined">settings</span>
          </div>
          <div class="mb-4 text-sm">
              <div class="mt-8">bhread v0.0.0</div>
              <div class="mt-1">
                  <a class="pr-2 dark:text-white text-alto"
                     href="https://blog.bhread.com/posts/about-bhread/"
                     target="_blank">about</a>
                  <a class="pr-2 dark:text-white text-alto"
                     href="https://github.com/elpachongco/bhread"
                     target="_blank">source</a>
                  <a class="pr-2 dark:text-white text-alto" href="#" target="_blank">privacy</a>
              </div>
          </div>
      </div>
  </div>
</div>
