{% load static %}
<div class="hidden sticky top-0 bottom-0 left-0 justify-end max-w-xs h-screen sm:flex xl:pr-4 grow"
     hx-boost="true">
    <div class="flex top-0 bottom-0 flex-col pr-4">
        <a id="logo"
           class="font-semibold text-black dark:text-alto"
           href="{% url "home" %}">
            <div class="flex items-center p-2 mt-8 mb-5">
                <img class="w-9 h-auto" src="{% static "feed/logo.svg" %}" alt="logo of bhread.com" />
                <span class="hidden pl-2 md:block">bhread</span>
            </div>
        </a>
        <nav class="flex flex-col">
            {% with "home feeds groups" as route_names %}
                {% for item in route_names.split %}
                    <a text-lochmara
                       class="flex items-center p-3 text-lg rounded-sm duration-100 hover:text-black hover:no-underline hover:transition-opacity font-header hover:bg-gallery/80 {% if url_name == item %} text-black dark:text-white dark:hover:text-black {% else %} text-gull {% endif %}"
                       hx-target="body"
                       hx-get="{% url item %}"
                       hx-push-url="true"
                       href="{% url item %}"
                       hx-swap="innerHTML"
                       preload="mousedown">
                        <span class="material-symbols-outlined size-20">{% cycle "home" "rss_feed" "group" %}</span>
                        <span class="hidden pl-2 md:block">{{ item }}</span>
                    </a>
                {% endfor %}
            {% endwith %}
            {% if user.is_authenticated %}
                {% with "profile" as button_names %}
                    {% for button_name in button_names.split %}
                        {% cycle "profile" as route silent %}
                        {% cycle "face" as icon_name silent %}
                        <a text-lochmara
                           class="flex items-center p-3 text-lg rounded-sm duration-100 hover:text-black hover:no-underline hover:transition-opacity font-header hover:bg-gallery/80 {% if url_name == item %} text-black dark:text-white {% else %} text-gull {% endif %}"
                           hx-target="body"
                           hx-get="{% url route %}"
                           hx-push-url="true"
                           href="{% url route %}"
                           hx-swap="innerHTML"
                           preload="mousedown">
                            <span class="material-symbols-outlined size-20">{{ icon_name }}</span>
                            <span class="hidden pl-2 md:block">{{ button_name }}</span>
                        </a>
                    {% endfor %}
                {% endwith %}
            {% endif %}
        </nav>
        <div class="mt-auto mb-2 max-h-24">
            {% url 'account_logout' as logout_url %}
            {% url 'account_login' as login_url %}
            <a href="{% if user.is_authenticated %} {{ logout_url }} {% else %} {{ login_url }} {% endif %}"
               preload="mouseover"
               class="hover:text-white hover:no-underline">
                <div class="flex justify-center items-center py-1 px-2 text-sm rounded border transition-all duration-75 hover:text-white active:translate-y-0.5 text-lochmara border-lochmara font-header hover:bg-lochmara hover:border-gull">
                    {% if user.is_authenticated %}
                        Log out
                    {% else %}
                        Log in
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
</div>
