{% extends base_template %}
{% block content %}
    {% load static %}
    <h2>Pages Management</h2>
    <p>Pages are places where posts are collected.</p>
    <p>bhread.com/username/pagename</p>
    <div hx-boost="true" hx-swap="innerHTML">
        <form method="post"
              enctype="multipart/form-data"
              hx-indicator="#add-form-spinner">
            {% comment %}
    <form hx-post="{% url 'feeds' %}" hx-swap="outerHTML" hx-boost="true">
            {% endcomment %} {% csrf_token %}
            <fieldset>
                <legend>Add a new page</legend>
                {{ page_form.as_p }}
                <p>Try {{ user.username }}/feedback</p>
                <div>
                    <button type="submit">Submit</button>
                    <img width="25"
                         alt="page load indicator"
                         height="auto"
                         id="add-form-spinner"
                         class="htmx-indicator"
                         src="{% static 'spinning-circles.svg' %}" />
                    {% comment %}
          <span class="material-symbols-outlined">check_circle</span>
                    {% endcomment %}
                </div>
            </fieldset>
        </form>
        <h3>Your pages</h3>
        <ul>
            {% for user_page in user_pages %}
                <li id="feed-li">
                    <p>
                        {{ user_page.name }}: {{ user_page.description }}
                        <a hx-target="body"
                           hx-swap="innerHTML"
                           hx-delete="{% url 'pages' %}"
                           hx-confirm="Are you sure you wish to delete this feed?"
                           hx-indicator="#delete-spinner-{{ user_feed.pk }}">❌ Delete</a>
                        <img width="15"
                             alt="page load indicator"
                             id="delete-spinner-{{ user_feed.pk }}"
                             class="htmx-indicator"
                             src="{% static 'spinning-circles.svg' %}" />
                    </p>
                </li>
            {% endfor %}
        </ul>
        <h3>All Pages</h3>
        <p>Public feeds from the people of bhread, including you.</p>
        <p>
            Search Feeds
            <input type="text" value="Input search here" />
        </p>
        <ul>
            {% for feed in all_feeds %}
                <li>
                    <p>
                        {% if feed.favicon %}
                            <img height="15"
                                 width="15"
                                 src="{{ feed.favicon }}"
                                 alt="site icon of the feed" />
                        {% endif %}
                        {{ feed.name }} ({{ feed.url|urlize }}) by {{
                        feed.added_by }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </form>
</div>
{% endblock content %}
