<div class="border-b border-b-gallery mt-2 mb-4 px-6">
    <div class="flex">
        <div class="flex flex-col mr-4 mt-2">
            <div class="w-10">
                <img class="w-full mb-2"
                     src="{{ user.profile.image.url }}"
                     alt="placeholder" />
            </div>
            {% comment %}
      <div class="h-full bg-gradient-to-r from-gallery to-gallery bg-no-repeat bg-center bg-[length:2px_100%]">
      </div>
            {% endcomment %}
        </div>
        <div class="mb-4">
            <div class="mb-2">
                <div class="flex items-center justify-start">
                    <h3 class="text-lochmara font-header text-lg font-medium mr-2">{{ user.username }}</h3>
                    <p class="text-sm text-gray-500 p-0">({{ post.feed.url }})</p>
                </div>
                <div>
                    <p class="text-sm text-gray-500">{{ post.date_added | timesince }} ago</p>
                </div>
            </div>
            <div hx-disable x-ignore class="text-base">
                {% autoescape off %}
                    {{ post.content }}
                {% endautoescape %}
            </div>
            <div>
                <a class="text-sm" href="{% url 'detail' post.pk %}">See post ({{ replies }} repl{{ replies|pluralize:"y,ies" }})</a>
            </div>
        </div>
    </div>
</div>
