{% var content %}
{% var truncate=truncate|default:False %}
{% var trunc_html=trunc_html|default:350 %}
<div hx-disable x-ignore class="post-content text-base">
    {% autoescape off %}
        {% if truncate %}
            {{ content|truncatechars_html:trunc_html }}
        {% else %}
            {{ content }}
        {% endif %}
    {% endautoescape %}
    <style>
    /* Styling for post content because tailwind + django can't do that :/ */
    /* !! WARNING !!  Do not put styling that will affect elements outside this component. */
        .post-content img {
            max-width: 80%;
        }
        .post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6, .post-content pre, .post-content img {
            margin-top: .4em;
            margin-bottom: .4em;
        }
        .post-content p {
            margin-top: .4em;
            margin-bottom:.4em;
        }

        .post-content h1 {
            font-weight: 700;
        }
        .post-content h2 {
            font-weight: 600;
        }
        .post-content h3 {
            font-weight: 500;
        }
        .post-content h4 {
            font-weight: 400;
        }
        .post-content h5 {
            font-weight: 300;
        }
        .post-content h6 {
            font-weight: 300;
        }
        .post-content code, .post-content pre {
            overflow: scroll;
            font-size: 14px;
        }
        .post-content p code {
            background: #f2f2f2;
            padding: .3em;
            padding-left: .2em;
            padding-right: .2em;
            border-radius: .5em;
        }
    </style>
</div>
