<div class="px-6 mt-2 mb-4 border-b border-b-gallery">
    <div class="flex">
        <div class="flex flex-col mt-2 mr-4">
            <div class="w-10">
                <img class="mb-2 w-full"
                     src="{{ user.profile.image.url }}"
                     alt="placeholder" />
            </div>
            {% comment %}
      <div class="h-full bg-gradient-to-r from-gallery to-gallery bg-no-repeat bg-center bg-[length:2px_100%]"></div>
            {% endcomment %}
        </div>
        <div class="mb-4">
            <div class="mb-2">
                <div class="flex justify-start items-center">
                    <h3 class="mr-2 text-lg font-medium text-lochmara font-header">{{ user.username }}</h3>
                    <p class="p-0 text-sm text-gray-500">({{ post.feed.url }})</p>
                </div>
                <div>
                    <p class="text-sm text-gray-500">{{ post.date_added | timesince }} ago</p>
                </div>
            </div>
            <div hx-disable x-ignore class="text-base">
                {% autoescape off %}
                    {{ post.content }}
                {% endautoescape %}
            </div>
            <div>
                <a class="text-sm" href="{% url 'detail' post.pk %}">See post ({{ replies }} repl{{ replies|pluralize:"y,ies" }})</a>
            </div>
        </div>
    </div>
</div>
