<li class="px-2 sm:px-4 mt-2 mb-4 border-b border-b-gallery">
    {% if post.parent %}
        <div id="reply" class="w-full mb-3">
            <div class="flex w-full">
                <div class="h-auto w-6 mr-2">
                    <img class="w-full h-auto rounded-full"
                         src="https://www.google.com/s2/favicons?domain={{ post.parent.url }}&sz=24"
                         alt="site favicon">
                </div>
                <div class="flex justify-between w-full">
                    <a class="font-header text-sm text-lochmara font-medium overflow-hidden"
                       href="{{ post.parent.url }}">
                        {% if "https://" in post.parent.url %}
                            {{ post.parent.url | slice:"8:"| truncatechars:50 }}
                        {% elif "http://" in post.parent.url %}
                            {{ post.parent.url | slice:"7:"| truncatechars:50 }}
                        {% else %}
                            {{ post.parent.url |truncatechars:50 }}
                        {% endif %}
                    </a>
                    <a class="text-xs" href="{% url 'detail' post.parent.url %}">see thread</a>
                </div>
            </div>
        </div>
    {% endif %}
    <article class="flex">
        <div class="flex flex-col mr-4">
            <div class="w-10">
                <img class="mb-2 w-full rounded-full"
                     src="{{ post.feed.owner.profile.image.url }}"
                     alt="display picture of user." />
            </div>
        </div>
        <div class="mb-4 w-full">
            <div class="mb-1">
                <div class="flex w-full justify-between items-center">
                    <div class="flex flex-1 items-center">
                        <h3 class="mr-2 text-lg font-medium text-lochmara font-header">{{ post.feed.owner.username }}</h3>
                        <a href="{{ post.url }}"
                           target="_blank"
                           class="flex items-center hover:no-underline">
                            <span class="material-symbols-outlined text-lochmara hover:text-gull">link</span>
                        </a>
                    </div>
                    <p class="text-xs text-gray-500">{{ post.date_added | timesince }} ago</p>
                </div>
            </div>
            {% if post.content|striptags|length > 300 and post.title %}
                <span class="font-header font-medium mb-2">{{ post.title }}</span>
            {% endif %}
            {{ children }}
            <div>
                <a class="text-sm" href="{% url 'detail' post.url %}">See ({{ replies }} repl{{ replies|pluralize:"y,ies" }})</a>
            </div>
        </div>
    </article>
</li>
