<div class="px-4 mt-2 mb-4 border-b border-b-gallery h-52 animate-pulse flex flex-row justify-evenly gap-x-2">
    <div class="rounded-lg w-10 mr-2 h-10 bg-gallery dark:bg-slate-800"></div>
    <div class="w-5/6 flex-1 flex flex-col items-start gap-y-3">
        <div class="rounded-sm w-full bg-gallery dark:bg-slate-800 h-6"></div>
        <div class="rounded-sm w-full bg-gallery dark:bg-slate-800 h-32"></div>
        <div class="rounded-sm w-full bg-gallery dark:bg-slate-800 h-4"></div>
    </div>
</div>
