{% var show_date=show_date|default:False %}
{% var post=post %}
{% var voted=voted %}
{% var csrf_token=csrf_token %}
{% load static %}
{% load feed_extras %}
{% comment %}

Post

---



{% endcomment %}
<li id="post-{{ post.id }}"
    class="px-2 sm:px-4 mt-2 mb-2 border-b border-b-gallery dark:border-b-slate-700">
    {% if post.parent %}
        <div id="reply" class="w-full mb-3">
            <div class="flex w-full">
                <div class="h-auto w-6 mr-2">
                    <img class="w-full h-auto rounded-full"
                         src="https://www.google.com/s2/favicons?domain={{ post.parent.url }}&sz=24"
                         alt="site favicon"
                         loading="lazy">
                </div>
                <div class="flex justify-between w-full">
                    <a class="font-header text-sm text-lochmara font-medium overflow-hidden"
                       href="{{ post.parent.url }}">
                        {% if "https://" in post.parent.url %}
                            {{ post.parent.url | slice:"8:"| truncatechars:50 }}
                        {% elif "http://" in post.parent.url %}
                            {{ post.parent.url | slice:"7:"| truncatechars:50 }}
                        {% else %}
                            {{ post.parent.url |truncatechars:50 }}
                        {% endif %}
                    </a>
                    <a class="text-xs" href="{% url 'detail' post.parent.url %}">see thread</a>
                </div>
            </div>
        </div>
    {% endif %}
    <article class="flex">
        <div class="flex flex-col mr-4">
            <div class="flex align-center items-center">{% profile-pic user=post.feed.owner feed_url=post.feed.url %}</div>
        </div>
        <div class="mb-2 w-full">
            <div class="mb-1">
                <div class="flex w-full justify-between items-center">
                    <div class="flex flex-1 items-center">
                        <!-- Username / Domain name -->
                        <h3 class="mr-2 text-lg font-medium text-lochmara font-header">
                            {% if post.feed.url %}
                                <a href="{% url 'feed' post.feed.url %}">
                                    {% with post.feed as feed %}
                                        {% if feed.owner %}
                                            {{ post.feed.owner.username }}
                                        {% else %}
                                            {{ post.feed.url|url_domain }}
                                        {% endif %}
                                    {% endwith %}
                                </a>
                            </h3>
                            <!-- END Username / Domain name -->
                            <!-- Open in new tab -->
                            <a href="{{ post.url }}"
                               target="_blank"
                               class="flex items-center hover:no-underline ml-auto ">
                            {% endif %}
                            <span class="material-symbols-outlined text-gull"
                                  style="font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
                                         font-size: inherit">open_in_new</span>
                        </a>
                        <!-- END Open in new tab -->
                    </div>
                </div>
            </div>
            {% if post.content|striptags|length > 300 and post.title %}
                <span class="font-header font-medium mb-2">{{ post.title }}</span>
            {% endif %}
            <!-- Render children of post -->
            {{ children }}
            <!-- Buttons on the bottom -->
            <div class="m-0 flex text-sm mt-4">
                <!-- Votes -->
                <div class="text-xl text-gull">
                    {% vote voted=voted id=post.id votes=post.votes_total.count csrf_token=csrf_token %}
                </div>
                <!-- endvotes -->
                <!-- Replies -->
                <a href="{% url 'detail' post.url %}"
                   class="m-0 mx-auto text-gull text-base flex items-center hover:no-underline">
                    <span style="font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
                                 font-size: inherit"
                          class="material-symbols-outlined mr-1">chat_bubble</span>
                    {{ post.reply_count|default:0 }}
                </a>
                <!-- Endreplies -->
                <!-- Date -->
                {% if show_date %}
                    <p class="text-xs text-gray-500">
                        {% with date_added=post.date_added %}{{ date_added | date:"d M Y" }}{% endwith %}
                    </p>
                {% endif %}
                <!-- END Date -->
            </div>
            <!-- END Buttons on the bottom -->
        </div>
    </article>
</li>
