{% extends "feed/base.html" %}

{% block base-content%}
<div class="flex justify-center">
    {% nav-left user=user url_name=url_name %}
    <main class="flex flex-col justify-center min-h-screen pb-[65px] md:pb-4 md:min-h-screen border-0 sm:border-l lg:border-x border-gallery dark:border-slate-700 shrink w-full lg:max-w-3xl sm:max-w-2xl">
      {% block content %}
      {% endblock content %}
    </main>
    {% nav-bottom url_name=url_name %}
    {% nav-right %}
</div>
{% endblock base-content %}
