{% extends base_template%} {% block content %}
<a href="{% url 'feeds' %}">◀️ Back to Feed Management</a>
<h2>
  <img height="25" width="25" src="{{ feed_form.instance.favicon }}" />
  {{ feed_form.instance.name }} Feed
</h2>
<form
  method="POST"
  action="{% url 'feed-edit' feed_form.instance.pk %}"
  enctype="multipart/form-data"
>
  {% csrf_token %}
  <fieldset>
    <legend>Edit feed</legend>
    {{ feed_form.as_p }}
    <button class="bg-alto" type="submit">Submit</button>
  </fieldset>
</form>
{% endblock %}
