{% extends base_template %}
{% block content %}
    <div class="flex items-center mb-4 pt-4">
        <img class="w-20 rounded-md mr-4 border"
             src="{{ user.profile.image.url }}"
             alt="user's display picture" />
        <h3 class="font-header text-lg">{{ user.username }} {{ user.email }}</h3>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Profile Info</legend>
            {{ u_form.as_p }} {{ p_form.as_p }} {{ f_form.as_p }}
            <button class="mt-2 bg-alto dark:bg-lochmara" type="submit">Update</button>
        </fieldset>
    </form>
{% endblock content %}
