{% extends base_template %}
{% block content %}
    <div class="h-screen">
        <h2 class="font-header font-medium text-md mt-4">Profile</h2>
        <div class="flex items-center mb-4 pt-4">
            <img class="w-20 rounded-full mr-4 border"
                 src="{{ user.profile.image.url }}"
                 alt="user's display picture" />
            <div>
                <h3 class="font-header font-semibold text-sm">{{ user.username }}</h3>
                <h3 class="font-header font-semibold text-sm">{% firstof user.email "No email" %}</h3>
                <h3 class="font-header font-semibold text-sm">
                    {% if verified %}
                        <span class="text-green-600">Verified</span>
                    {% else %}
                        Unverified
                    {% endif %}
                </h3>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Profile Info</legend>
                {{ u_form.as_p }} {{ p_form.as_p }}
                <button class="mt-2 bg-alto dark:bg-lochmara" type="submit">Update</button>
            </fieldset>
        </form>
    </div>
{% endblock content %}
