{% extends "feed/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}
    {% trans "Log In" %}
{% endblock head_title %}
{% block content %}
    <div class="flex flex-col items-center justify-center">
        <h1 class="font-header text-lg mb-2">{% trans "Log In" %}</h1>
        {% get_providers as socialaccount_providers %}
        <p>Please log in with your bhread.com account</p>
        <form class="login" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <p class="items-center justify-center flex">
                <button type="submit"
                        class="primaryAction my-2 bg-lochmara text-white font-header font-medium">
                    {% trans "Log in" %}
                </button>
            </p>
        </form>
        {% if socialaccount_providers %}
            <p>
                {% blocktrans with site.name as site_name %}
                or Log in with{% endblocktrans %}
            </p>
            <div class="socialaccount_ballot w-full">
                <ul class="socialaccount_providers flex flex-row list-disk list-outside space-between w-full justify-center gap-x-4 pb-4">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
        {% endif %}
        <p class="m-2 border-t pt-6">
            {% blocktrans %}
                    Don't have an account?
                    <a href="{{ signup_url }}" class="ml-2 p-2 rounded-md border border-lochmara">sign up</a>
                {% endblocktrans %}
        </p>
    </div>
{% endblock content %}
