{% extends "feed/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
    <div class="flex flex-col items-center justify-center">
        <h1 class="font-header text-lg mb-2">{% trans "Sign In" %}</h1>
        {% get_providers as socialaccount_providers %}
        <p>Please sign in with your bhread.com account</p>
        <form class="login" method="post" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="button secondaryAction"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button type="submit"
                    class="primaryAction bg-lochmara text-white font-header font-medium">{% trans "Sign In" %}</button>
        </form>
        {% if socialaccount_providers %}
            <p>
                {% blocktrans with site.name as site_name %}
You may also sign in with{% endblocktrans %}
            </p>
            <div class="socialaccount_ballot ">
                <ul class="socialaccount_providers flex flex-row list-disk list-outside space-between w-full">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
            <p>
                Or <a href="{{ signup_url }}">sign up</a> for a bhread.com account.
            </p>
        {% else %}
            <p>
                {% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
            </p>
        {% endif %}
    </div>
{% endblock content %}
